{% extends 'website/index.html' %}
{% load static %}
{% block content %}
    <title>Chart.js + Vue (固定軸対応)</title>
    <!-- Vue3 CDN -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
     <!-- Chart.js CDN -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
  <!-- Chart.js Annotation plugin（Chart.jsの後に必ず読み込む） -->
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@1.1.0"></script>
  <link rel="stylesheet" href="{% static 'website/css/calc_tokuten2.css' %}?v={% now 'U' %}">
  </head>

  <body>
    {% verbatim %}
    <div id="app" class="container">
      

      <!-- 右パネル -->
      <div class="right-panel">
        <div
          style="
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
          "
        >
          <div>
            <h2>📈 得点率一覧表</h2>
            <p id='timezone' style="font-size: 12px; color: #fff">{{ currentTime }}</p>
          </div>
          <div id='btn-area'>
            <!-- <button @click="updateData">更新</button> -->
            <button @click="toggleSort">
              {{ sortOrder ? "元に戻す ↺" : "降順 ▼" }}
            </button>
            <button id='btn1'>機能１</button>
            <button id='btn2'>機能２</button>
            <p>ボーダー</p>
            <input 
            type="number" 
            id="borderInput" 
            v-model.number="borderValue" 
            step="0.01">
          </div>
        </div>

        <div class="chart-wrapper">
          <!-- スクロール領域 -->
          <div class="chart-scroll-area">
            <div class="chart-container">
              <canvas id="myChart"></canvas>
            </div>
          </div>
          <!-- 固定軸 -->
          <div class="chart-fixed-axis">
            <canvas id="axisChart"></canvas>
          </div>
        </div>
      </div>
    </div>
    <dialog id='dlg1'>
      <div id='h_dlg1'>入力フォーム</div>
      <div id='b_dlg1'></div>
      <div id='f_dlg1'>
        <button id='close_dlg1'>close</button>
      </div>
    </dialog>
    {% endverbatim %} 
      {{ df_data|json_script:'data-json' }}
    {% endblock %}

    
    {% block extra_js %}
    <script src="{% static 'website/js/calc_tokuten2.js' %}"></script>
    {% endblock %}
  </body>
</html>
