{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>業務アプリ アクアライブステーション</title>
    <link rel="stylesheet" href="{% static 'website/css/index_style.css' %}" />
  </head>
  <body>
    <!-- ヘッダー -->
    <header>
      <h1>アクアライブステーション（業務アプリ）</h1>
      <p>関係者用</p>
    </header>

    <!-- ナビゲーション -->
    <nav>
      <ul>
        <li><a href="{% url 'website:calendar' %}">出演者情報</a></li>
        <li><a href="{% url 'website:calc_tokuten' %}">得点率ランキング</a></li>
        <li><a href="{% url 'website:calc_tokuten2' %}">得点率計算</a></li>
        <li>
          <a href="{% url 'website:motor_comments_total' %}"
            >モーター情報・一覧</a
          >
        </li>
        <li>
          <a href="{% url 'website:motor_comments_index' %}"
            >モーター別・閲覧</a
          >
        </li>
        <li><a href="{% url 'website:motor_comments' %}">モーター・入力</a></li>
        <li><a href="{% url 'website:gallery' %}">写真館</a></li>
      </ul>
    </nav>

    <!-- フッター -->
    <footer>
      <p>ver.5　2025/10/04 update</p>
      <p>得点計算機能を拡充しました。</p>
      <p>--------------------------------------------</p>
      <p>テストサイトです。</p>
      <p>不具合に関しまして、一切の責任はとれません。</p>
      <p>個人情報等は入力しないでください。</p>
    </footer>
  </body>
</html>
