{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>◯号機 投稿一覧</title>
  <link rel="stylesheet" href="{% static 'website/css/motor_comments_detail.css' %}">
</head>
<body>
  <h1>モーター投稿一覧</h1>
  <div id="machine-data" data-machine-no="{{ machine_no }}"></div>
  <!-- 号機を選ぶUI -->
  <div class="controls">
    <label for="machineSelect">モーターを選択：</label>
    <select id="machineSelect"></select>
  </div>

  <div id="output">モーターを選択してください</div>
<script src = '{% static "website/js/motor_comments_detail.js" %}'></script>

</body>
</html>